.apresentacao {
    display: flex;
    flex-direction: column;
}

.apresentacao__conteudo__imagens {
    display: flex;
    gap: 66px;
    margin: 0 0 10% 0;
}

@media(max-width: 1200px) {
    .apresentacao__conteudo__imagens {
        flex-direction: column;
        gap: 32px;
    }
}