@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet');
@use 'sass:color';


* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #0B60B0;
    --cor-secundaria: #F0EDCF;
    --cor-hover: rgb(64, 162, 216, 0.182);
    --cor-fundo: #000000;

    --fonte-primaria: "Do Hyeon", sans-serif;
    --fonte-secundaria: "Lato", sans-serif;
    --regular-font-weight: 400;
}


.cabecalho {
    padding: 2% 15%;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.cabecalho__menu__link {
    text-decoration: none;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: var(--regular-font-weight);
    font-size: 24px;
    color: var(--cor-primaria);
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-hover);
}

body {
    background-color: var(--cor-fundo);
    box-sizing: border-box;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 210px;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.apresentacao__conteudo__titulo {
    display: flex;
    font-family: var(--fonte-primaria);
    font-weight: var(--regular-font-weight);
    font-size: 36px;
    padding: 5% 0%;
}

.apresentacao__conteudo__titulo__primeiraPalavra {
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__titulo__segundaPalavra {
    color: var(--cor-primaria);
}

.apresentacao__conteudo__texto {
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: var(--regular-font-weight);
    font-size: 24px;
}

.apresentacao__conteudo__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacao__conteudo__redes__titulo {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: var(--regular-font-weight);
    font-size: 24px;
}

.apresentacao__conteudo__redes__item {
    display: flex;
    gap: 8px;
    width: 378px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 16px 0;

    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 24px;

    border-style: solid;
    border-radius: 8px;
    border-color: var(--cor-primaria);
    margin: 2%;
}

.apresentacao__conteudo__redes__item:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    max-width: 488px;
    width: 50%;
}


.rodape {
    text-align: center;
    border-top-style: solid;
    border-width: 3px;
    border-color: var(--cor-primaria);
    padding: 25px;
}

.rodape__texto {
    font-family: var(--fonte-secundaria);
    font-weight: var(--regular-font-weight);
    font-size: 16px;
    color: #B9B9B9;
    margin: 25px auto;
}